ain-div mat-card {
  padding: 0px;
}
.login-form{
  padding: 50px;
}
a,
  a:visited,
  a:hover {
    color:blueviolet;
    text-decoration: none;
    text-align: center;
  }
a:hover {
  color:blue;
}
