<div style="text-align: center">
  <h1>{{message}}</h1>
</div>


 <div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card  fxFlex="30">
      <mat-toolbar color="primary">SignUp</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="myform" (ngSubmit)="saveUser()" >
          <mat-form-field >
            <mat-label>Nom</mat-label>
            <input matInput class="form-control" type="text" placeholder="Name" formControlName="nom" [(ngModel)]="user.nom" >

            <div *ngIf="nom.touched && nom.invalid">
              <small *ngIf="nom.errors.required" class="text-danger">Fistname is required<br></small>
              <small *ngIf="nom.errors.pattern"  class="text-danger">Invalid fistname <br></small>
              <small *ngIf="nom.errors.minlength" class="text-danger">fistname must contain two characters at least</small>
            </div>

          </mat-form-field>

          <mat-form-field >
            <mat-label>Prenom</mat-label>
            <input matInput  type="text" placeholder="Prenom"  formControlName="prenom" [(ngModel)]="user.prenom">
            <div *ngIf="prenom.touched && prenom.invalid">
              <small *ngIf="prenom.errors.required" class="text-danger">Lastname is required<br></small>
              <small *ngIf="prenom.errors.pattern"  class="text-danger">Invalid Lastname <br></small>
              <small *ngIf="prenom.errors.minlength" class="text-danger">Lastname must contain two characters at least</small>
            </div>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput type="email"  placeholder="Email" formControlName="email" [(ngModel)]="user.email">
            <div *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors.required" class="text-danger">Email is required<br></small>
              <small *ngIf="email.errors.minlength" class="text-danger">Email must contain two characters at least</small>
              <small *ngIf="email.errors.email" class="text-danger"> Email invalid @</small>
            </div>
          </mat-form-field>
          <mat-form-field >
              <mat-label>Password</mat-label>
              <input matInput  type="password" placeholder="Password" formControlName="password" [(ngModel)]="user.password">
              <div *ngIf="password.touched && password.invalid">
                <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
                <small *ngIf="password.errors.minlength" class="text-danger">Password must contain 8 characters at least</small>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select [(value)]="selected">
                <mat-option value="option1">Administrateur</mat-option>
                <mat-option value="option2">Utilisateur</mat-option>
              </mat-select>
            </mat-form-field>
          <button mat-raised-button  type="submit" color="primary" [disabled]="myform.invalid" (click)="registerNow()">Créer mon compte</button>
          <a href="" >Forget Password ??</a>
        </form>
  </mat-card>
</div>
<div>

  <!-- <div class="container">
    <form [formGroup]="myform" (ngSubmit)="saveUser()">
      <label for="nom">Firstname</label>
      <input type="text" name="nom" id="nom" formControlName="firstname">
      <label for="prenom">Lasttname</label>
      <input type="text" name="prenom" id="prenom"formControlName="lastname">
      <input type="submit" value="Send">
    </form>
  </div> -->


